/*assign a background picture, make no repeats, and create a specific margin for all page content;
=============================================*/
html {
  background: url('../img/home-background.jpg') no-repeat center center fixed;
  background-size: cover;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  min-width: 85.25vw;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  min-height: 200vw;
}

/*All imgs will resize in browser
=============================================*/

.my-slides img{
  width: auto\9; /* ie8 */
  max-width: 100%;
  max-height: auto;
}

/*All links will have no special formatting
==============================================*/
a{
  color: #EFE;
  text-overflow: clip;
  text-transform: lowercase;
  text-decoration-line: none;
}
