
/*Adds an rgba background with opacity to every div element on the page
=============================================*/
.divs {
  border: solid black;
  /*margin: 30px 0px;*/
  background-color: rgba(200, 200, 200, 0.70);
}

/*header and nav-bar special borders, fixed nav bar
=============================================*/
.nav-bar {
  display: block;
  top: 0px;
  position: fixed;
  min-width: 85%;
  height: 5%;
  border: 2px dashed blue;
  margin-top: 0px;
  margin-bottom: 1px;
  background-color: rgba(200, 200, 200, 0.70);
}
body .header {
  display: block;
  position: absolute;
  min-width: 85%;
  height: 7.5%;
  margin-top: 5%;
  margin-bottom: 100px;
  padding: 0;
  text-align: left;
  border: 2px dashed #FF0000;
  background-color: rgba(200, 200, 200, 0.70);
}
/*table of contents for the projects floated to the left of the slideshow
=============================================*/
.table-of-contents{
  float: left;
  text-align: center;
  width: 100%;
  min-height: 100px;
  font-size: 35px;
  margin-top: 15vh;
}
.table-of-contents li{
  margin-left: 40px;
  text-align: left;
  list-style: lower-roman;
  font-size: 25px;
}
#slideshow-article {
  float: left;
  width: 100%;
}

/* Clear footer and projects from floats slideshow
=============================================*/
.projects footer{
  clear: both;
}

/*Desktop Compatibility
=========================================================================================*/
@media screen and (min-width: 1025px) {
  /*Adds an rgba background with opacity to every div element on the page
  =============================================*/
  .divs {
    border: solid black;
    margin: 30px 0px;
    background-color: rgba(200, 200, 200, 0.70);
  }
  /*header and nav-bar special borders, fixed nav bar
  =============================================*/
  .nav-bar {
    display: block;
    top: 0px;
    position: fixed;
    min-width: 85%;
    height: 5%;
    border: 2px dashed blue;
    margin-top: 0px;
    margin-bottom: 1px;
    background-color: rgba(200, 200, 200, 0.70);
  }
  body .header {
    display: block;
    position: absolute;
    min-width: 85%;
    height: 7.5%;
    margin-top: 3vh;
    margin-bottom: 100px;
    padding: 0;
    text-align: left;
    border: 2px dashed #FF0000;
    background-color: rgba(200, 200, 200, 0.70);
  }
  /*table of contents for the projects floated to the left of the slideshow
  =============================================*/
  .table-of-contents{
    /*float: left;*/
    display: block;
    text-align: center;
    max-width: 22.5%;
    font-size: 35px;
    margin-top: 15vh;
  }
  .table-of-contents li{
    margin-left: 40px;
    text-align: left;
    list-style: lower-roman;
    font-size: 25px;
  }
  #slideshow-article {
    display: block;
    width: 75%;
    margin-top: 15vh;
    margin-left: 1.25vw;
  }

  /* Clear footer and projects from floats slideshow
  =============================================*/
  .projects footer{
    clear: both;
  }
}
