/*Adds an rgba background with opacity to every div element on the page
=============================================*/
.divs {
  border: solid black;
  margin: 30px 0px;
  background-color: rgba(200, 200, 200, 0.70);
}
/*header and nav-bar special borders, fixed nav bar
=============================================*/
.nav-bar {
  top: 0px;
  position: fixed;
  height: 50px;
  width: 84%;
  border: 2px dashed blue;
  margin: 0;
}
.header {
  height: 100px;
  text-align: left;
  border: 2px dashed #FF0000;
}
/*table of contents for the projects floated to the left of the slideshow
=============================================*/
.table-of-contents{
  float: left;
  text-align: center;
  width: 17.5%;
  min-height: 300px;
  font-size: 35px;
}
.table-of-contents li{
  margin-left: 40px;
  text-align: left;
  list-style: lower-roman;
  font-size: 25px;
}
#slideshow-article {
  float: right;
  width: 80%;
  min-height: 300px;
}

/* Clear footer and projects from floats slideshow
=============================================*/
.projects footer{
  clear: both;
}

/*Creating Slideshow and setting locations
Later, this will be put into @media for larger screens
=============================================*/
.slideshow-div{
  margin: 0px 5%;
  overflow: hidden;
  width: 1214.99px;
}
#slideshow-article .slideshow{
  display: block;
  width: 7290px;
  margin: 10px 0px;
  padding: 0px;
}
#slideshow-article .my-slides{
  float: left;
  list-style-type: none;
  max-width: 100%;
}
